/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1{
    margin-top: 20px;
    font-size: 40px;
    color: rgb(16, 158, 197);
}

h2{
    font-size: 30px;
    color: rgb(85, 85, 85);
    display: flex;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid rgb(16, 158, 197);
}

h2 img{
    width: 25px;
    height: 25px;
    margin-right: 20px;
}

h3{
    font-size: 20px;
    color: rgb(85, 85, 85);
    margin-top: 10px;
    display: flex;
    align-items: center;
}

h4{
    font-size: 18px;
    color: rgb(85, 85, 85);
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p{
    margin: 2px;
    font-size: 13px;
    color: rgb(85, 85, 85);
    letter-spacing: 1.6px;
    line-height: 1.2;
    display: flex;
    align-items: center;
}

.container{
    width: 100%;
    background-color: black;
}

.A4{
    margin: 0 auto;
    width: 794px;
    height: 1124px;
    display: flex;
    box-sizing: border-box;
}

.left{
    flex: 1.3;
    background-color: rgb(235, 235, 235);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.left::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: calc(794px * 1.3 / 3.3);
    height: calc(1124px * 3 / 10);
    clip-path: polygon(0 0,0 100%, 100% 0);
    background-color: rgb(16, 158, 197);
}

.circleWrap{
    margin-top: 60px;
    width: 220px;
    height: 220px;
    background-color: rgb(255, 255, 255);
    clip-path: circle(50% at 50% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo{
    width: 200px;
    height: 200px;
    clip-path: circle(50% at 50% 50%);
}

.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact{
    margin-top: 60px;
    width: 250px;
    align-items: left;
}

.contact p{
    margin-top: 20px;
}

.contact p img{
    width: 15px;
    height: 15px;
    margin-right: 15px;
}

.aboutMe{
    margin-top: 20px;
    width: 250px;
    align-items: left;
}

.aboutMe p{
    letter-spacing: 1.6px;
    line-height: 1.6;
    margin-top: 16px;
}

.skills{
    margin-top: 20px;
    width: 250px;
    align-items: left;
}

.skills ul{
    margin-top: 15px;
    list-style: disc;
    padding-left: 43px;
    line-height: 2.3;
    color: rgb(85, 85, 85);
}

.right{
    flex: 2;
    background-color: rgb(255, 255, 255);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.right li{
    position: relative;
    padding-left: 30px;
}

.right li:nth-child(1)::before{
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    background-color:  rgb(16, 158, 197);
    border-radius: 50%;
}

.right li:nth-child(1)::after{
    content: "";
    position: absolute;
    left: 9.5px;
    top: 10px;
    width: 1px;
    height: 10px;
    background-color:  rgb(16, 158, 197);
}

.right li:nth-child(2)::before{
    content: "";
    position: absolute;
    left: 9.5px;
    top: -5px;
    width: 1px;
    height: 23px;
    background-color:  rgb(16, 158, 197);
}

.right li:nth-child(3)::before{
    content: "";
    position: absolute;
    left: 9.5px;
    top: -2px;
    width: 1px;
    height: calc(100% + 2px);
    background-color:  rgb(16, 158, 197);
}

.education{
    margin-top: 40px;
    width: 380px;
}

.experience{
    margin-top: 40px;
    width: 380px;
}

.experience p{
    margin-top: 20px;
    margin-bottom: 20px;
}

.experience li:nth-child(3)::before{
    top: -22px;
    height: calc(100% + 48px);
}

.portfolio{
    margin-top: 40px;
    width: 380px;
}

.portfolio li:nth-child(1)::after{
    content: none;
}

.portfolio ul{
    margin-top: 20px;
}

.portfolio a{
    color:  rgb(16, 158, 197);
    text-decoration: none;
}

.portfolio a:hover{
    color: blueviolet;
}